@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: Arial, sans-serif;
  background-image: url(https://media2.giphy.com/media/pFwRzOLfuGHok/200w.gif?cid=82a1493bmk4cfqrac00k7sf6je7qctjvpvc89dwpel74qmj6&ep=v1_gifs_related&rid=200w.gif&ct=g);
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
h2{
  color: white;
}
button {
  color: white;
}
ul {
  color: white;
}